In [1]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/moscow%20schools%20-%20winners.csv')
df.head(5)

,FullName,ShortName,OlympiadType,Stage,Class,Subject,Status,Year,global_id
0,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472939
1,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472940
2,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,10,Иностранный язык (английский язык),призёр,2012/2013,4472941
3,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,4,11,Иностранный язык (английский язык),победитель,2012/2013,4472942
4,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472943

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74228 entries, 0 to 74227
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FullName      74228 non-null  object
 1   ShortName     74228 non-null  object
 2   OlympiadType  74228 non-null  object
 3   Stage         49808 non-null  object
 4   Class         74228 non-null  object
 5   Subject       74228 non-null  object
 6   Status        74228 non-null  object
 7   Year          74228 non-null  object
 8   global_id     74228 non-null  object
dtypes: object(9)
memory usage: 5.1+ MB

In [53]:
df.query('Stage == "4" and Subject == "Математика" and Status == "победитель"').FullName.count()

46