In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv(r'G:\Мой диск\Онлайн курсы\Анализ данных с Pandas\content\fish.csv')
df.head()

In [ ]:
X = df[['Length1', 'Length2', 'Length3', 'Height', 'Width']].join(pd.get_dummies(df.Species, drop_first=True), how='inner')
y = df.Weight

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=10)

In [ ]:
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression


# создадим экземпляр класса LinearRegression
clf = LinearRegression()
# fit - метод для обучения, обучаемся на train данных
clf.fit(X_train_std, y_train)

In [ ]:
test_pred = clf.predict(X_test_std)
test_pred

In [ ]:
MSE = mean_squared_error(y_test, test_pred)
RMSE = np.sqrt(mean_squared_error(y_test, test_pred))
MAE = mean_absolute_error(y_test, test_pred)
print(np.round(MSE, 0), np.round(RMSE, 0), np.round(MAE, 0))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r'G:\Мой диск\Онлайн курсы\Анализ данных с Pandas\content\students.csv')
df

In [ ]:
t = df.groupby('subject', as_index=False)['pass'].count()

In [ ]:
sns.barplot(t, x=t.subject, y=t['pass'])

In [ ]:
plt.figure(figsize=(14, 7))
sns.boxplot(df, x=df.subject, y=df.score)

In [ ]:
sns.barplot(df, x=df.subject, y=df['pass'])

In [ ]:
df = pd.read_csv(r'G:\Мой диск\Онлайн курсы\Анализ данных с Pandas\content\pima_indians_diabetes.csv')

In [ ]:
X = df.drop('Outcome', axis=1)
y = df.Outcome

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    stratify=y,
                                                    test_size=0.2,
                                                    random_state=10)

In [ ]:
mm = MinMaxScaler()
X_train_std = mm.fit_transform(X_train)
X_test_std = mm.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score, classification_report
clf = KNeighborsClassifier()
clf.fit(X_train_std, y_train)

In [ ]:
y_test_pred = clf.predict(X_test_std)
y_test_pred

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score

In [ ]:
prec = precision_score(y_test, y_test_pred).round(1)
rec = recall_score(y_test, y_test_pred).round(1)
f1 = f1_score(y_test, y_test_pred).round(1)
roc = np.round(roc_auc_score(y_test, y_test_pred), 1)

In [ ]:
print(prec, rec, f1, roc)

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/bykov-alexei/data-science-course/master/Python3/titanic_train.csv')

In [24]:
df.Name[df.Name.str.find('Sir.') != -1]

599    Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Name: Name, dtype: object

In [38]:
df.query('Name.str.contains("Capt")')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0,B22,S

In [6]:
df = pd.read_csv('content/moscow schools - winners.txt')
df.head()

,FullName,ShortName,OlympiadType,Stage,Class,Subject,Status,Year,global_id
0,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472939
1,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472940
2,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,10,Иностранный язык (английский язык),призёр,2012/2013,4472941
3,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,4,11,Иностранный язык (английский язык),победитель,2012/2013,4472942
4,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472943

In [14]:
df.query('Stage == "3" and Status == "призёр" and Subject == "Информатика" and Class == "9"')['Status'].count()

349

In [19]:
df.query('Status == "победитель"').groupby('ShortName', as_index=False)['Status'].count().sort_values(by='Status', ascending=False)

                                           ShortName  Status
420                        ГБОУ лицей «Вторая школа»     235
573                                ГБОУ школа № 1329     223
1001  ФГБОУ ВПО «МГУ им. М.В. Ломоносова» . СУНЦ МГУ     209
872                                  ГБОУ школа № 57     198
7                            ГАОУ ВО МИОО. СОШ № 179     196
...                                              ...     ...
794                                ГБОУ школа № 2067       1
261                                   ГБОУ СОШ № 775       1
792                                ГБОУ школа № 2055       1
262                                    ГБОУ СОШ № 79       1
1024                        центр образования «Знак»       1

[1025 rows x 2 columns]