# Домашнее задание по мультииндексам

In [1]:
import pandas as pd
import numpy as np

## Задание 1
### Постройте датафрейм заполненный нулями так, как это показано в ячейке ниже. Первые две колонки являются мультииндексом. Для заполнения датафрейма нулями воспользуйтесь функцией zeros из библиотеки numpy

                  0    1    2    3    4
Группа 1 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0
Группа 2 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0

In [2]:
task1_df = pd.DataFrame(np.zeros((4, 5)), index=[['Группа 1', 'Группа 1', 'Группа 2', 'Группа 2'], ['Альфа', 'Бета', 'Альфа', 'Бета']])

In [3]:
task1_df

                  0    1    2    3    4
Группа 1 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0
Группа 2 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0

### Получившися датафрейм сохраните в csv файл и загрузите на степик

In [6]:
task1_df.to_csv(r'H:\Мой диск\Онлайн курсы\Анализ данных с Pandas\content\result_task1_df.csv')

## Задание 2
### Загрузите файл task2.csv в котором содержится сводная информация о велопарковках в Москве

In [7]:
task2_df = pd.read_csv('task2.csv', index_col=[0, 1]) # не редактируйте

### По каждому району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [8]:
task2_df

                                count  sum
District            cost_type
Академический район Бесплатная      3   19
                    Платная         1    8
Алексеевский район  Бесплатная      9   88
                    Платная         7   64
Алтуфьевский район  Бесплатная      2   20
...                               ...  ...
район Южное Тушино  Платная         5   44
район Якиманка      Бесплатная      6   18
                    Платная         4   16
район Ясенево       Бесплатная      9   66
                    Платная         4   38

[235 rows x 2 columns]

### Выполните преобразование таким образом чтобы получился новый датафрейм, где строки будут всё так же районы, а по колонкам будет идти суммарное количество мест на парковке в разбивке платные/бесплатные

cost_type               Бесплатная  Платная
District                                   
Академический район           19.0      8.0
Алексеевский район            88.0     64.0
Алтуфьевский район            20.0     30.0
Бабушкинский район            62.0     77.0
Басманный район              116.0    109.0
...                            ...      ...
район Южное Бутово            36.0     92.0
район Южное Медведково        60.0     18.0
район Южное Тушино            12.0     44.0
район Якиманка                18.0     16.0
район Ясенево                 66.0     38.0

In [13]:
task2_df.loc[:,'sum'].unstack().to_csv(r'H:\Мой диск\Онлайн курсы\Анализ данных с Pandas\content\result_task2_df.csv')

### Cохраните в csv файл и загрузите на Stepik

In [ ]:
task2_df.to_csv('result_task2_df.csv')

## Задание 3
### Снова загружаем датафрейм с прошлого степа

In [14]:
task3_df = pd.read_csv('task2.csv', index_col=[0, 1]) # не редактируйте

In [15]:
task3_df

                                count  sum
District            cost_type
Академический район Бесплатная      3   19
                    Платная         1    8
Алексеевский район  Бесплатная      9   88
                    Платная         7   64
Алтуфьевский район  Бесплатная      2   20
...                               ...  ...
район Южное Тушино  Платная         5   44
район Якиманка      Бесплатная      6   18
                    Платная         4   16
район Ясенево       Бесплатная      9   66
                    Платная         4   38

[235 rows x 2 columns]

### Отберите информацию о велопарковках в районах: 
#### - Алексеевский район
#### - район Южное Тушино
#### - район Ясенево

In [21]:
task3_df.unstack().loc[['Алексеевский район', 'район Южное Тушино', 'район Ясенево']]['count'].sum()

cost_type
Бесплатная    20.0
Платная       16.0
dtype: float64

### Посчитайте суммарное количество парковок в разрезе по платным и бесплатным
#### Для начала выполните преобразование как в прошлом задании, а потом вспомните, что мы проходили функцию суммирования по строкам и колонкам. Попробуй применить ее. На степик в поле с ответом введите 2 числа через пробел: количество по бесплатным и количество по платным
#### Например: 10 15

## Задание 4. 
### Загрузите файл task4.csv в котором содержится сводная информация о велопарковках в Москве

In [22]:
task4_df = pd.read_csv('task4.csv', index_col=[0, 1, 2]) # не редактируйте

### По каждому административному округу (AdmArea), району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [23]:
task4_df

                                                                         count  \
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

In [41]:
np.floor(task4_df.loc['Южный административный округ', 'count'].mean())

4.0

### Посчитайте среднее количество парковок в Южном административном округе. Ответ округлите вниз до целого числа. Ответ загрузите на степик.

## Задание 5. 
### Загрузите файл task4.csv в котором содержится сводная информация о велопарковках в Москве

In [42]:
task5_df = pd.read_csv('task4.csv', index_col=[0, 1, 2]) # не редактируйте

### По каждому административному округу (AdmArea), району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [43]:
task5_df

                                                                         count  \
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

### Найдите в каком районе восточного административного округа больше всего мест на бесплатных парковках. Правильный район выберите из списка на степике.

In [51]:
task5_df.loc['Восточный административный округ', 'sum'].unstack()['Бесплатная'].sort_values(ascending=False)

District
район Вешняки                35.0
район Перово                 35.0
район Сокольники             28.0
район Преображенское         21.0
район Косино-Ухтомский       18.0
район Метрогородок           18.0
район Ивановское             16.0
район Соколиная Гора         16.0
район Богородское            14.0
район Измайлово              11.0
район Новогиреево            11.0
район Гольяново               9.0
район Восточное Измайлово     8.0
Нижегородский район           6.0
район Новокосино              1.0
район Северное Измайлово      1.0
Name: Бесплатная, dtype: float64

In [53]:
task3_df.head(2)

                                count  sum
District            cost_type
Академический район Бесплатная      3   19
                    Платная         1    8